.logo{
    width: 241px;
    height: 46px;
    margin-top: 16px;
    margin-left: -33px;
}
.head{
    height: 90px;
   border-bottom: #551414;
   border-bottom: 1px solid #f3f3f3;
}
.ft{   
    background-color: #f3f3f3;
    height: 250px;
    margin-top: 200px;
}
.text{
    margin-left: 15px;
}
.price{
   background-color:#f4f4f4;
   width: 100%;
   height: 70px;
}
.content{
    width: 430px;
    margin-left: 320px;
}
.icon{
    font-size: 35px;
}
.form-control{
    height: 60px;
}
.kick {
    width: 100%;
    height: 70px;
    
}
.language {
    
    border: 2px solid black;
}
@media only screen and (max-width:740px) {
    .content{
        margin-left: 10px;
    }
}
@media only screen and (min-width:768px) and (max-width:998px){
    .content{
        margin-left: 180px;
    }
}