*{
  padding: 0;
  margin: 0;
}
.header{
  width: 100%;
  height: 340px;
  background-color: aqua;
  position: fixed;
  margin-left: 100px;
}
.content{
  margin-top: 400px;
}
.icon-bar{
  position: fixed;
}