body{
    width: 100%;
    height: 1900px;
    background-color: gray;

}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
   
}
.logo{
    margin-left: 56px;
    background-color:black;
    height: 36px;
    
}

.img-fluid {
    height: 680px;
    width: 100%;
}
.image{
    padding-left: 0px;
    padding-right: 0px;
}
.menu{
    margin-top: -716px;
}
.bg {
	border-radius: 10px;
	background-size: cover;
	width: 100%;
	height: 100%;
    background-color: #000000BF;
    color: #000000BF;
}
.row-container {
    width: 450px;
    height: 600px;
	border: 1px solid black;
	background: #000000BF;
	margin-top: 20px; 
	padding: 30px;
}
.form-control{
    background: #333333;
    width: 388px;
    height: 50px;
    color: #000000BF;
    margin-top: 30px;
}

	
.form-one h1{
  color: white;
}
.form .help{
    margin-right: 40px;
    color: chartreuse;
}
.btn{
    margin-top: 40px;
    width: 388px;
    background: red;
    height: 50px;
    color: white;
   
}
.form-check{
    margin-top: 10px;
  
    color: #b3b3b3;
    font-size: 15px;
}
.facebook{
    margin-top: 70px;
}

.logoface{
    width: 20px;
    height: 20px;
  
}
.face{
    margin-top: 10px;
    font-size: 13px;
    color: #b3b3b3;
    
}
.new-to{
    font-size: 18px;
    color: #b3b3b3;
}
.upnow{
    color: white;
}
.page{
    font-size: 18px;
    color: #b3b3b3;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  
.active, .accordion:hover {
    background-color: #ccc;
 }
  
  
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  
.ft {
    background-color: black;
    height: 500px;
    padding-right: 0px;
}


.ftone {
    width: 740px;
    margin-left: 300px;
}


.fttwo{

    margin-top: -186px;
    width: 740px;
    margin-left: 300px;
}
.dr {
    
    border: 2px solid #630dd3;
    width: 120px;
}




