body{
    width: 100%;
    height: 750px;
    background-color: gray;

}

.logo{
    margin-top: -180px;
    width: 120px;
    height: 50px;
    margin-left: 30px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
   
}
.anh{
    width: 100%;
    height: 800px;
}

.fa{
    background-color: black;
}

.img-fluid {
    height: 680px;
    width: 100%;
}
.image{
    padding-left: 0px;
    padding-right: 0px;
}
.menu{
    margin-top: -716px;
}
.header{
    margin-left: 60px;
    color: white;
}
.one{
    font-size: 150px;
    margin-top: -40px;
    color: red;
}
.tow{
    margin-top: 20px;
    
}
.khop{
    font-size: 20px;
    color: aqua;
}
.sx{
    font-size: 20px;
}
.hd{
    font-size: 20px;
}
.three{
    margin-top: 30px;
    font-size: 60px;
}
.four{
    margin-top: 30px;
    font-size: 20px;
    color: dimgrey;
}
.five{
    margin-top: 5px;
 
}
.six{
    margin-top: 5px;
   
}
.seven{
    margin-top: 5px;
}
.nice{
    margin-top: 5px;
}
.btn{
    color: white;
    background-color: black;
    font-size: 20px;
}