.a{
    width: 400px;
    
}
.btn-danger{
    width: 400px;
    height: 70px;
}
.form-control{
    width: 400px;
    height: 60px;
}
.text{
    margin-left: 60px;
    
    

}
.ft{
    background-color: #f3f3f3;
    height: 800px;
}