.logo{
    width: 241px;
    height: 46px;
    margin-top: 16px;
    margin-left: -33px;
}
.head{
    height: 90px;
   border-bottom: #551414;
   border-bottom: 1px solid #f3f3f3;
}
.ft{   
    background-color: #f3f3f3;
    height: 250px;
    margin-top: 200px;
}
.text{
    margin-left: 50px;
}
.a{
    display: flex;
    width: 500px;
    height: 70px;
}
.content{
    width: 500px;
    height: 333px;
    margin-top: 30px;
    margin-left: 350px;
}
.icon{
    margin-left: 206px;
    font-size: 40px;
}
.step1{
    margin-left: 200px;
}
.one{
    width: 200px;
    margin-left: 135px;
}
.icon1{
    font-size: 35px;
    
}
.language {
    
    border: 2px solid black;
}
@media only screen and (max-width:740px) {
    .content{
        margin-left: -2px;
    }
}
@media only screen and (min-width:768px) and (max-width:998px){
    .content{
        margin-left: 180px;
    }
}