.logo{
    width: 241px;
    height: 46px;
    margin-top: 16px;
    margin-left: -33px;
}
.head{
    height: 90px;
   border-bottom: #551414;
   border-bottom: 1px solid #f3f3f3;
}
.ft{   
    background-color: #f3f3f3;
    height: 250px;
}
.content{
    width: 340px;
    height: 498px;
    margin-left: 415px;   
    margin-top: 39px;
}
.text{
    margin-left: 60px;
    
    

}
.btn-danger{
    width: 340px;
    height: 70px;
}
.tick{
    
    font-size: 45px;
    margin-left: 135px;

    
}
.step1{
    margin-left: 126px;

}
.language {
    
    border: 2px solid black;
}
@media only screen and (max-width:740px) {
    .content{
        margin-left: 69px;
    }
}
@media only screen and (min-width:768px) and (max-width:998px){
    .content{
        margin-left: 200px;
    }
}
