body{
    width: 100%;
    height: 4690px;
    background-color: gray;

}
.login{
    margin-right: 56px;
    background-color: rgb(240, 9, 9);
    height: 36px;
    text-align: center;
    
    
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
   
}
.logo{
    margin-left: 56px;
    background-color:black;
    height: 36px;
    
}
.fa{
    background-color: black;
}
.dropdown{
    margin-right: 40px;
    

    
    
}
.ta{
    color: white;
}
.text{
    color:white ;
    text-align: center;
    margin-top: -4px;
    
}
.img-fluid {
    height: 680px;
    width: 100%;
}
.image{
    padding-left: 0px;
    padding-right: 0px;
}
.menu{
    margin-top: -716px;
}

.text-center{
    color: white;
    font-size: 3.125rem;
    
   
    
}
.xem{
    margin-top: 50px;
}
.rong{
    margin-top: 160px;
    width: 640px;
    height: 165px;
}
.texttwo{
    color: white;
    font-size: 25px;
    margin-top: 9px;
    text-align: center;
}
.textthree{
    color: white;
    font-size: 25px;
    margin-top: 3px;
    text-align: center;
    
}
.mb-3{
    height: 60px;
    margin-left: 270px;
    width: 550px;
}
.btn{
    
    width: 120px;
}
.start{
    height: 60px;
}
.mainone{
    margin-top: 70px;
    height: 520px;
    background-color: black;
}

.textfor{
    margin-top: 117px;
    width: 400px;
    height: 110px;
    margin-left: 100px;
    color: white;
    font-size: 3.125rem;
    line-height:  1.1;
}
.textfive{
    color: white;
    width: 410px;
    font-size: 23px;
    margin-left: 100px;
    font-weight: 400;
    margin-top: 10px;
}
.our-story-card-animation{
    margin-top: -383px;
    margin-left: 75px;
}
.textsix{
    font-size: 3.125rem;
    line-height:  1.1;
    width: 600px;
    color: white;
    
    margin-top: 86px;
    margin-left: 49px;
    
}
.textsevent{
    color: white;
    width: 500px;
    font-size: 23px;
    margin-left: 50px;
    font-weight: 400;
    margin-top: 10px;
}
.a{
    height: 520px;
    background-color: black;
    
}
.textnice{
    font-size: 3.125rem;
    line-height:  1.1;
    width: 600px;
    color: white;
    
    margin-top: 36px;
    margin-left: 118px;
}
.textten{
    color: white;
    width: 500px;
    font-size: 24px;
    margin-left: 116px;
    font-weight: 400;
    margin-top: 10px;
}
.b{
    height: 284px;
    background-color: black;
    padding-right: 0px;
}
.textelevent{
    font-size: 3.125rem;
    line-height:  1.1;
    width: 600px;
    color: white;
    
    margin-top: 156px;
    margin-left: 61px;
}
.texttwent{
    color: white;
    width: 500px;
    font-size: 24px;
    margin-left: 69px;
    font-weight: 400;
    margin-top: 10px;
}
.c {
    width: 504px;
    height: 378px;
    margin-left: 115px;
    margin-top: 76px;
}
.g{
    height: 530px;
    background-color: black;
    
}

.textthirteen{
    font-size: 3.125rem;
    line-height:  1.1;
    width: 559px;
    color: white;
    
    margin-top: 86px;
    margin-left: 116px;
}
.textforteen{
    color: white;
    width: 500px;
    font-size: 23px;
    margin-left: 116px;
    font-weight: 400;
    margin-top: 10px;
}
.textfiteen{
    color: white;
    width: 559px;
    font-size: 23px;
    margin-left: 116px;
    font-weight: 400;
    margin-top: 10px;

}
.e{
    width: 504px;
    height: 347px;
    margin-top: 92px;
    margin-left: 70px;
}
.f{
    height: 569px;
    background-color: black;
    padding-right: 0px;
}
.ab {
    width: 500px;
    height: 50px;
}

.bc {
    width: 500px;
    height: 100px;
}

.dr {
    margin-left: 300px;
}

.cd {
    margin-top: 80px;
}

.ef {
    background-color: black;
    height: 1020px;
}



.bt {
    width: 726px;
    height: 57px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #303030;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 726px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 317px;
    margin-top: 0px;
    border-bottom: rgb(66, 10, 10);
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #303030;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #303030;
    display: none;
    overflow: hidden;
    width: 726px;
    margin-left: 317px;
}

.text-break {
    color: white;
    font-size: 1.625rem
}

.accordion {
    color: white;
    font-size: 1.625rem
}

.ch {
    margin-top: -241px;
}

.gm {
    margin-left: 411px;
}

.ft {
    background-color: black;
    height: 500px;
    padding-right: 0px;
}


.ftone {
    width: 740px;
    margin-left: 300px;
}


.fttwo{

    margin-top: -186px;
    width: 740px;
    margin-left: 300px;
}
.language {
    background-color: #000000BF;
    border: 2px solid #303030;
}

@media only screen and (max-width:780px) {
    .dropdown{
        margin-right: 10px;
    }
    .text-center {
        width:500px ;
        height: 92px;
        font-size:1.75rem;
    }
    .loai{
        display: none;
    }
    .xem{
        margin-top: -47px;
    }
    .mb-3{
        margin-left: 10px;
    }
    .our-story-card-video {
        width: 283px;
        height: 164px;
        margin-top: 344px;
        margin-left: 25px;
    }
    .textfor{
        margin-left: 40px;
    }
    .textfive{
        margin-top: -64px;
        font-size: 20px;
        margin-left: 40px;
        width: 400px;
    }
    .girl{
        width: 484px;
        height: 280px;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .textsix{
        text-align: center;
        margin-top: 10px;
        margin-left:40px ;
        width: 400px;
        font-size: 30px;
    }
    .textsevent{
        width: 400px;
    }

    .textnice{
        margin-left: 50px;
        
    }
    .textten{
        margin-left: 50px;
        width: 400px;
    }
    .c{
        width: 496px;
        height: 300px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .textelevent{
        margin-top: 0px;
        margin-left: 50px;
    }
    .texttwent{
        font-size: 20px;
        width: 400px;
        margin-left: 50px;
    }
    .textthirteen{
        font-size: 20px;
        width: 400px;
        margin-left: 50px;
    }
    .textforteen{
        font-size: 20px;
        width: 400px;
        margin-left: 50px;
    }
    .textfiteen{
        display: none;
    }
    .e{
        width: 496px;
        height: 300px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .ch{
        margin-left: -315px;
    }
    .ftext{
        margin-left: -250px;
    }
    .ftext2{
        margin-top: 200px;
        margin-left: -250px;
    }
    .ft{
        height: 700px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .tablet{
        display: block;
    }
    .mb-3{
        margin-left: 50px;
    }
    .textthirteen{
        margin-left: 30px;
    }
    .textforteen{
        margin-left: 30px;
    }
    .textfiteen{
        margin-left: 30px;
    }
    .accordion{
        margin-left: 30px;
    }
    .mt-4{
        margin-left: 70px;
    }
    .ftone{
        margin-left: 50px;
    }
    .fttwo{
        margin-left: 50px;
    }
}
