.login{
    margin-right: 56px;
    background-color: rgb(240, 9, 9);
    height: 36px;
    text-align: center;
    
    
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
   
}
.logo{
    margin-left: 56px;
    background-color: brown;
    height: 36px;
    text-align: center;
}
.Language{
    margin-right: 40px;
    
    
}
.text{
    color:white ;
    text-align: center;
    margin-top: -4px;
    
}
.img-fluid {
    height: 680px;
    width: 100%;
}
image{
    padding-left: 0px;
}
.menu{
    margin-top: -716px;
}
